.body-container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.players-container {
    width: 80%;
    display: inline-block;
    float: left;
}

.cart-container {
    width: 20%;
    display: inline-block;
    float: left;
}