.header {
    height: 150px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

.header-logo {
    width: 30%;
    height: 100%;
    float: left;
}

.header-logo img {
    height: 100%;
    width: 100%;
}

.header-menu-main {
    width: 40%;
    height: 100%;
    float: left;
    position: relative;
}

.header-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 60%;
}

.header-menu ul {
    margin: 0 auto;
    padding: 0;
    display: block;
    height: 100%;
}

.header-menu ul li {
    float: left;
    list-style: none;
    margin: 0 auto;
    height: 100%;
    line-height: 100%;
}

.header-menu ul li a {
    padding: 33px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    line-height: 1.5;
}

.header-menu ul li a:hover {
    background-color: bisque;
    color: blue;
}

.cart {
    width: 30%;
    height: 100%;
    float: left;
    padding: 30px 0;
    text-align: center;
}

.header-searchBarSection{
    background-color: black;
    color: white;
    padding: 20px 5%;
    width: 100%;
    display: flex;
}

.searchBarSec{
    width: 80%;
}

.headerSearchBar{
    width: 100%;
    border-radius: 5px;
    padding: 5px 20px;
    box-sizing: border-box;
    border: 3px solid #000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.headerSearchBar:focus{
    border: 3px solid #ccc;
}

.cartSec{
    width: 20%;
    margin: auto;
    padding: 5px 30px;
}

.headerSearchCartIcon{
    font-size: 25px;
}